body,html{overflow-x: hidden}
body{font-family: 'Montserrat', sans-serif,monospace;}
@font-face{font-family: myFirstFont;src:url(../fonts/MontserratAlternates-Regular.ttf)}
a{text-decoration: none}
li{list-style: none}

/*=======================Go To Top Button====================*/
.top-btn{width: 45px;height: 45px;background:#41445a; clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);box-shadow:0 10px 30px rgba(0,0,0,.6);}

.top-btn img{display: block;margin: 0 auto;margin-left: -2px;}

#g_t_t{position:fixed;bottom:20px;right:20px;z-index:1}


/*======================Header Section=======================*/

.header__logo{color:#fab46c;display: table;
    background:#5c6181;border-radius: 5px;margin-left: 20px;
    padding: 7px 7px 3px 3px;font-size: 25px;letter-spacing: 2px;}
.header__letter-s{font-family: 'UnifrakturMaguntia', cursive;}
        .header__span{font-variant: small-caps;background: #fff;font-weight: bold}
        .header__logo-sec{position: relative}

        .header__logo-img{width: 42px;position: relative;top: -2px}

        .header__img{position: absolute;top: 35px;left: 226px;width: 41px;
            -webkit-animation: bag 2s ease-in-out infinite alternate-reverse;
            -moz-animation: bag 2s ease-in-out infinite alternate-reverse;
            animation: bag 2s ease-in-out infinite alternate-reverse;
            -webkit-transform-origin: top;
            -moz-transform-origin: top;
                 transform-origin: top;z-index: 99999}

@-moz-document url-prefix() { 
  .header__img {
    position:absolute;
    left: 252px;
    top: 33px
  }
}
        
        @-webkit-keyframes bag{
            0%,100%{transform: rotate(0deg);}
            50%{transform: rotate(-20deg);}
            }

        @-moz-keyframes bag{
            0%,100%{transform: rotate(0deg);}
            50%{transform: rotate(-20deg);}
            }

        @keyframes bag{
            0%,100%{transform: rotate(0deg);}
            50%{transform: rotate(-20deg);}
            }
.header__para{font-family: myFirstFont;font-size: 20px;padding:100px 50px 30px 20px }
.header__para strong{font-family: 'Great Vibes', cursive;font-size: 30px}

.links{
    position: relative;
    background: #5c6181;
    padding: 8px;
    display: block;
    width: 120px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    margin-left: 20px;
    overflow: hidden}

.links:before{content: "";position: absolute;top: 0;left: 0;width: 50%;height: 100%;background: rgba(255,255,255,.1)}

.links:after{content: "";position: absolute;top: 0;left: -100%;width: 100%;height: 100%;background: linear-gradient(90deg,transparent,rgba(255,255,255,.4),transparent);transition: 0.5s;transition-delay: 0.5s}

.links:hover:after{left: 100%}
.links .btnStyle{position: absolute;display: block;transition: 0.5s ease;}

.links .btnStyle:nth-child(1){
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #fab46c;
}

.links:hover .btnStyle:nth-child(1){
    width: 100%;
    transform: translateX(100%)
}

.links .btnStyle:nth-child(3){
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background: #fab46c;
}

.links:hover .btnStyle:nth-child(3){
    width: 100%;
    transform: translateX(-100%)
}

a:focus, a:hover{color: #fff;text-decoration: none}




/*---------------------nav styling------------------------------*/

.navbar{border: none;margin-top: 20px;}
.navbar-default{background-color: transparent}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{background-color: transparent;color: #fff}
.nav-col {background: #5c6181;padding-bottom: 50px}
.navbar-default .navbar-nav>li>a{color: #fab46c;font-size:14px;
    font-weight: bold;text-transform: uppercase;}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{color: #fff}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    color: #fff;background-color: #494e69;box-shadow: inset 5px 0 5px -5px rgba(0,0,0,.35), inset -5px 0 5px -5px rgba(0,0,0,.35)}
.dropdown-menu{background:#5c6181 }
.dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{color:#fab46c;font-weight: 600}
.navbar-nav>li>.dropdown-menu{margin-top: 20px;}

.navbar-default .navbar-toggle{border-color:#fab46c}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background-color:#fab46c}
.navbar-default .navbar-toggle .icon-bar{background-color: #fff}
.navbar-default .navbar-nav .open .dropdown-menu>li>a{color:#fab46c }
.navbar-nav .open .dropdown-menu{background-color:#494e69}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{color:#fab46c;background: #fff }

::-webkit-scrollbar{
    width: 20px;
     
}

::-webkit-scrollbar-track{
    -webkit-box-shadow:inset 0px 0 6px rgba(250, 180, 108,1)/*rgba(92, 97, 129,1)*/;
    border-radius: 10px;
    
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow:inset 0px 50px 50px rgba(250, 180, 108,5)/*rgba(92, 97, 129,5)*/;
    height:100px;
}



.swiper-container {
      width: 100%;
      left: -50px;
      
    }
    .swiper-slide {
      font-size: 18px;
      color:#fff;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 40px 60px;
    }
    .parallax-bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 116%;
      height: 100%;
        background-image:url(https://ik.imagekit.io/fhimywqel/mall1_XIN2bS6SUP.jpg);
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
    }
    
    .swiper-slide .text {
        font-size: 25px;
        max-width: 400px;
        line-height: 1.5;
        padding: 100px;
        font-weight: 900;
        background: rgba(0,0,0,.5);
        -webket-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
        text-align: center;
        font-family: myFirstFont;
        margin: 0 auto;
    }
.swiper-pagination-bullet{background:#5c6181}
.swiper-pagination-white .swiper-pagination-bullet-active{background: #fab46c}
/*----------------------Overview Section --------------------------*/



.sec{padding: 50px 0}
.section__img-div{border: 5px solid #fab46c;}
.section__img-div img{position: relative;bottom: -20px;right: -20px;
 z-index: -1}
.section__heading{margin: 0}
.section__para-div{padding: 0 50px}
.heading{text-transform: uppercase;text-align: center;padding-bottom: 20px;letter-spacing: 2px}
.heading .lg-txt{font-family: 'Great Vibes', cursive;font-size: 47px;}
.section__span{display: block;font-size: 12px;font-style: italic;color:#5c6181;font-weight: 600;padding-bottom: 10px }


/*------------------------Services Section------------------------*/


.services__box{padding: 30px 0 40px;background: #f7f5ec;text-align: center;overflow: hidden;position: relative;-webkit-box-shadow:0 0 11px 1px rgba(0,0,0,.2);-moz-box-shadow:0 0 11px 1px rgba(0,0,0,.2);box-shadow: 0 0 11px 1px rgba(0,0,0,.2)}

.services__box .services__pic{display: inline-block;width: 130px;height: 130px;margin-bottom: 50px;position: relative;z-index: 1;line-height: 130px}

.services__box .services__pic img{color: #fff;font-size: 40px;border-radius: 50%;transform: scale(1);transition: all 0.9s ease 0s; width: 71%;
height: 71%;line-height: 1.5;}

.services__box .services__pic:before{content: "";width: 100%;background: #fab46c;position: absolute;bottom: 135%;right: 0;left: 0;transform: scale(3);transition: all 0.3s linear 0s;}

.services__box:hover .services__pic:before{height: 100%}

.services__box .services__pic:after{content: '';width: 100%;height: 100%;border-radius: 50%;background: #fab46c;position: absolute;right: 0;left: 0;z-index: -1} 

.services__box:hover .services__pic img{box-shadow: 0 0 0 14px #f7f5ec;transform: scale(0.7);}

.services__box .services__content{margin-bottom: 30px}

.services__title{font-size: 22px;font-weight: 700;color: #4e5052;letter-spacing: 1px;text-transform: capitalize;margin-bottom: 5px}

.services__box .services__link{display: block;color: #5c6181;width: 100%;padding: 5px;margin: 0;background:#fab46c ;position: absolute;bottom: -100px;left: 0;transition: all 0.5s ease 0s;font-weight: bold;letter-spacing: 1px;}

.services__box:hover .services__link{bottom: 0}

.services__link:hover{color:#fff}


/*-------------------------Brand Section----------------------*/


.brand__box{width: 190px;height: 190px;box-shadow: 0 0 10px rgba(0,0,0,.5);margin-bottom: 20px;position: relative;border-radius: 50%;overflow: hidden;margin: 0 auto 20px auto}

.brand__box .brand__img{width: 100%;height: 100%;}

.brand__overlay{width: 100%;height: 100%;border-width: 8px;border-style: solid;border-color:#5c6181 #fab46c #fab46c #5c6181;position: absolute;top: 0;left: 0;border-radius: 50%;transition:transform 1s;z-index: 10}

.brand__box:hover .brand__overlay{transform: rotate(180deg)}

.brand__text{width: 100%;height: 100%;border: 1px solid;background: rgba(0,0,0,.8);color: #fff;position: absolute;top: 0;left: 0;opacity: 0;text-align: center;transition: opacity 1s;padding: 30px 0}

.brand__text a{position: relative;z-index: 99999;width: 73px;
    font-size: 10px;padding: 3px;margin: 0 auto;color: #fff}

.brand__text p{font-size: 12px;text-align: center;font-style: italic}
.brand__text span{font-size: 10px;text-align: center;display: block;}
.brand__text img{display: block;margin: 0 auto;;padding-bottom: 20px;width: 40%}
.brand__name{text-align: center;text-transform: capitalize}
.brand__box:hover .brand__text{opacity: 1}

/*----------------------------PVR SECTION------------------------*/
.pvr{margin: 50px 0;background: url(../img/bg.jpg)}
.flexslider .slides img{transition: .5s}
.flexslider .slides img:hover{
    -webkit-filter: sepia(90%);filter: sepia(90%)}
.slides, .slides > li, .flex-control-nav, .flex-direction-nav{}
.flexslider{background: transparent;border: none}
.pvr__img img{display: block;margin: auto}
.pvr__img{margin: 95px 0}

/*-----------------------MALL SERVICES SECTION-----------------*/

.mallservices{background: #ededed;border-right: 15px solid #5c6181;border-left: 15px solid #5c6181;position: relative;-webkit-box-shadow:0,0,30px 10px;box-shadow:0,0,30px 10px}

.slick-slide img {
  max-width: 100%;
    width: 100px;
    height: 100px;
  transition: transform 1s;
    padding: 10px;
    display: block;
    margin: 0 auto;
 }

.slider p{text-align: center}

.slick-slide.slick-center img{
  transform: scale(1.2);
}

.mallservices__txt{text-align: left}
.mallservices__txt p{padding-left:25px;}

.slick-prev{display: none}
.slick-next{display: none}

/*-------------------------socialicon------------------------*/
.socialicon{background: #5c6181;padding-bottom: 10px;border-bottom: 10px solid #fab46c}
.socialicon__heading{color: #fff}


.socialicon__address{margin-top: 16px;}
.socialicon__address li{padding-bottom:15px;}
.socialicon__address a{color: #fff}
.socialicon__social-icons li a{position: relative;width: 40px;height: 40px;display: block;text-align: center;margin: 0 10px;border-radius: 50%;padding: 6px;background: linear-gradient(0deg, #ddd, #fff);box-shadow: 0 10px 15px rgba(0, 0, 0.03);transition: .5s}

.socialicon__social-icons li a:hover{box-shadow: 0 2px 5px rgba(0, 0, 0.03)}

.socialicon__social-icons li a .icons{width: 100%;height: 100%;display: block;background: linear-gradient(0deg, #fff, #ddd);border-radius: 50%;line-height:calc(40px - 12px);font-size: 15px;color: #262626;transition: .5s;}

.socialicon__social-icons li:nth-child(1) a:hover .icons{color: #3b5998}
.socialicon__social-icons li:nth-child(2) a:hover .icons{color: #55acee}
.socialicon__social-icons li:nth-child(3) a:hover .icons{color: #0077B5}
.socialicon__social-icons li:nth-child(4) a:hover .icons{color: #e4405f}

/*-----------------------FOOTER--------------------------------*/

.fixFooter{padding: 10px 30px 30px;color: #fff;;border-bottom: 10px solid #fab46c;background: #171717}

.fixFooter a{color: #fff}


.dbox{margin: 150px;width: 200px;height: 200px;border: 2px solid;border-right-color: transparent;border-radius: 50%}

.dbox1{width: 150px;height: 150px;border: 2px solid;border-right-color: transparent;border-radius: 50%}



.fixFooter__logo{font-size: 17px;margin-left: 0;}
.fixFooter__logo-img{width: 34px;}

.fixFooter-info {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: 2px solid;
    border-bottom-style: dotted;
    padding-bottom: 12px;}

.fixFooter__address{padding: 0}
.fixFooter__address li{padding-bottom: 8px}
.gallery-items{height: 50px!important;border: 2px solid rgb(255, 255, 255)!important}

.fixFooter__copyright{color:#8e8d8d;font-size:12px;}
.fixFooter__copyright span{text-transform: uppercase}

.fixFooter__bottom-inner{border-top: 1px dashed #2e2e2e;
    padding: 20px 0 0;
    margin-top: 25px;}


/*=========================About Us Page======================*/

.logo{box-shadow: 0 0 10px -1px #000;margin-top: 0;}
.menu-col{padding-bottom:0}
.banner{background:#5c6181}
.main-nav{float: right}
.secOverview{background: #e0e0e0}
.secOverview__para{padding: 0 20px 20px}
.abtSec__banner-div{position: relative;width: 100%;}

.abtSec__banner-div img{width: 100%}

.abtSec__wave-banner{position: absolute;width: 100%;height: 143px;bottom: 0;left: 0;background: url(../img/wave.png);background-size: 100% 100%;}

.main-heading{padding: 50px 0}

.visionSec__mission{border: 1px solid;height: 180px;text-align: center;border-radius: 5px}
.visionSec__mission p{padding:0 47px;text-align: justify}
.vision{background:url(../img/vision.jpg)no-repeat;background-position: left top;background-size: contain;}
.mission{background: url(../img/mission.jpg)no-repeat;background-position: left top;background-size: contain;}
.values{background: url(../img/values.jpg)no-repeat;background-position: left top;background-size: contain;}

.visionSec__mission h4{padding:10px 0;background: #fab46c;position: relative;z-index: -10;margin-top: 0;color: #fff;font-weight: 600}

.ui-state-active .ui-icon, .ui-button:active .ui-icon{float: right;color: #fff}
.ui-icon, .ui-widget-content .ui-icon{float: right}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{background:#5c6181;color: #fff }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{border: 1px solid #fab46c }

.testimonials__first{background:rgba(0,0,0,0.5) url(../img/dummy1.jpg);background-size: 100% 100%;padding: 66px;height: 482.67px}

.testimonials__first img{display: block;margin: auto;width: 300px;}
.testimonials__first h4{text-align: center;color: #fff;font-size: 20px;
    font-weight: 700;position: relative;top: -22px;}
.testimonials__col{padding: 0}
.testimonials{background:#5c6181;margin-top: 77px;border-bottom: 10px solid #fab46c;}

.bx-wrapper{margin: auto auto 60px}

.testomony{color: #fff}
.bx-wrapper .bx-pager.bx-default-pager a{background:#fab46c }

.acc-heading{background: #5c6181!important}

/*--------------------------SHOP PAGE--------------------------*/

.ui-tabs-vertical { width: 99%; }
  .ui-tabs-vertical .ui-tabs-nav {padding: .2em .1em .2em .2em; float: left; width: 12em; box-shadow: 0 0 6px 3px rgba(0,0,0,0.5)}
  .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; /*border-right-width: 0 !important;*/ margin: 0 -1px .5em 0; }
  .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
  .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px;background:#5c6181  }
  .ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: left; width: 80%;}

.ui-widget.ui-widget-content{margin: 0 auto}
.ui-widget.ui-widget-content {border: 10px solid #5c6181;border-radius:       11px;padding: 10px}



.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{background: transparent}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor{padding: .5em;font-size: 15px}

.shop__text{opacity: 1;background: #000}

.shop__box, .shop__overlay{border-radius: 0}

.shop__footer{margin-top: 30px;border-top: 10px solid #fab46c;}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor{color: #fff}
/*-----------------------------BRAND PAGE-----------------------------*/
.brand__row{border: 2px solid #000;border: 6px solid #fab46c;border-radius: 8px}
.brand-heading{text-align: left;padding:50px 0 3px;}

.brand__div{height: 247px;}

.brand__reebok{background: url(../img/reebok.png)no-repeat;background-position: center center; }
.brand__wear{background: url(../img/109F.jpg)no-repeat;background-position: center center; }
.brand__bonjour{background: url(../img/bonjour.jpg)no-repeat;background-position: center center; }
.brand__aremiss{background: url(../img/Aremiss.jpg)no-repeat;background-position: center center; }
.brand__human{background: url(../img/being_human.jpg)no-repeat;background-position: center center; }
.brand__allensolly{background: url(../img/allensolly.jpg)no-repeat;background-position: center center; }
.brand__crossover{background: url(../img/Crossover.png)no-repeat;background-position: center center; }
.brand__fabindia{background: url(../img/logo-retail11.jpg)no-repeat;background-position: center center; }
.brand__buddha{background: url(../img/Buddha_Spa.jpg)no-repeat;background-position: center center; }
.brand__hypercity{background: url(../img/logo-retail1.jpg)no-repeat;background-position: center center; }
.brand__lotus{background: url(../img/logo-retail35.jpg)no-repeat;background-position: center center; }
.brand__salon{background: url(../img/Stylin.png)no-repeat;background-position: center center; }
.brand__croma{background: url(../img/logo-retail8.jpg)no-repeat;background-position: center center; }
.brand__tresor{background: url(../img/tresor.png)no-repeat;background-position: center center; }
.brand__tree{background: url(../img/peachtree.jpg)no-repeat;background-position: center center; }
.brand__kfc{background: url(../img/kfc1.jpg)no-repeat;background-position: center center; }
.brand__pindballuchi{background: url(../img/pindballuchi.png)no-repeat;background-position: center center; }
.brand__starbucks{background: url(../img/starbucks.jpg)no-repeat;background-position: center center; }
.brand__imperfecto{background: url(../img/Imperfecto.jpg)no-repeat;background-position: center center; }
.brand__playbox{background: url(../img/playbox.png)no-repeat;background-position: center center; }
.brand__carnival{background: url(../img/cinema1.jpg)no-repeat;background-position: center center; }
.brand__peterengland{background: url(../img/pe_logo.png)no-repeat;background-position: center center; }
.brand__american{background: url(../img/am.jpg)no-repeat;background-position: center center; }
.brand__asus{background: url(../img/asus_logo.jpg)no-repeat;background-position: center center; }
.brand__biba{background: url(../img/biba.png)no-repeat;background-position: center center; }
.brand__bigbazzar{background: url(../img/bigbazar-gen-nxt-logo-pic.png)no-repeat;background-position: center center; }
.brand__pvr{background: url(../img/pvr-ecx-logo.png)no-repeat;background-position: center center; }



.brand__para{display: table;width: 374px;padding: 30px 0}


.table{margin: 50px 0}
.brand__col{background:#fab46c;box-shadow: 0px 0px 14px rgb(92, 97, 129) inset; }

.table-striped>tbody>tr:nth-of-type(even){font-weight: 700}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{color: #000;font-weight: 700}

/*----------------------------EVENT PAGE-----------------------------*/
.event{margin-top: 50px}
.ui-widget-header {
    border-bottom: 1px solid #dddddd;
    background: transparent;
    color: #333333;
    font-weight: bold;
    display: table;}
.clear{clear: both}
#tabs-1 h2, h3{text-align: center}
#tabs-1 p{font-size: 1.5em;line-height: 2}
.click-links{color: #000!important}


/*--------------------------DINE PAGE------------------------*/
.food{margin: 50px 0}
#dine__tsbs-list{border: none}
.alpha-tabs{color: #fff!important}
.list-tabs{margin: 1px 1.2em 0 0!important;background:#5c6181!important }
.outlets {
    width: 300px;
    border: 1px solid;
    position: relative;
    margin: 79px 0;
    padding: 50px;
}

.outlets h2, h3{text-transform: capitalize}

.outlets img{display: block;
    margin: auto;
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 0 0 10px 1px rgba(0,0,0,.5);}

.outlets h4{font-size: 15px;
    position: absolute;
    bottom: -27px;
    padding: 10px;
    background: #fab46c;}


/*---------------CONTACT US PAGE--------------------------*/

.contact{background: linear-gradient(110deg,#2f2e2e 52% , #fab46c 50%)}
.contactBanner{background: url(../img/contact.jpg);background-size: cover;}
.contactBanner h2{font-size: 5em;color: white;text-transform: uppercase;font-weight: bold;padding: 100px 15px}
.contact__div{width: calc(50% - 50px);height: 300px;background: #2f2e2e;float: left;color: #fff;}
.contact__img{width: calc(50% + 50px);height: 300px;background: #fab46c ;background-size: cover;float: left;border-left: 100px solid #2f2e2e;border-bottom: 300px solid transparent;}
.hr{width:100%;border: 3px solid;border-radius: 25px;}
.contact__div h3{text-transform: uppercase}
.contact__div ul .fa{font-size: 30px;padding: 0 20px 20px 0}
.contact__div a{color: #fff}
.contact__row{box-shadow: 12px -3px 30px rgba(0, 0, 0,0.5);margin: 50px 0}

.info_box {
    border: 17px solid #c8c9d0;
    border-style: dashed;
    color: #fff;
    text-align: center;
    background: #2f2e2e;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    margin: 30px 0;
    text-transform: capitalize}

.info_box h3{font-size: 40px}

/*----------------------------------CAREERS PAGE----------------*/
.career__row{margin: 30px 0}
.career .career__img{width: 100%;height: 400px}
.mail-box{border: 2px solid #fff;background: #efecec;
    text-align: center;
    padding: 30px;
    font-size: 22px;border-radius: 8px;
    border-style: outset;box-shadow: 0 25px 30px;}

.privacy{display: table;background:#fab46c;padding: 5px;color: #fff;font-weight: 600 }

.sitemap__list li:before{content: "\f005";font-family: fontAwesome;padding-right: 8px;color: #fff}

.v-links li:before{content: "\f006 ";font-family: fontAwesome;padding-right: 8px;color: #fff}
.linksheading{color: #fff;margin: 24px 0}

.sitemap{background: url(../img/sitemap.jpg)no-repeat;background-size: cover}
.sitemap li a{color: #fff;font-weight: 600}
.sitemap__heading{display: table;background:#fab46c;padding-bottom: 0;
    padding: 10px;
    border-radius: 8px; }
.zone {
    margin: 30px;
    border: 20px soild;
    border: 40px solid #5c6181;
    padding: 20px;
    border-radius: 53px;
    border-style: ridge;
    text-align: center;}
.zone__links{color: #000}
.zone__links:hover{color: #000}
.zone__div{background: url(../img/zone-bg.jpg);width: 125px;height: 125px;border-radius: 50%;text-align: center;
    padding: 42px 0;font-weight: bold;font-size: 16px;box-shadow: 0 25px 30px;transition: 0.5s;cursor: pointer;margin: 22px}
.zone__div:hover{transform: scale(2,2)}
/*-----------------------------MEDIA---------------------------------------------------------------------QUERY---------------------------------*/

@media(max-width:1170px){
    .swiper-container{left: 0}
    
}

@media(min-width:360px) and (max-width:640px){
  .contact__img{height: 483px;border-bottom: 483px solid transparent;}
    .contact__div{height: 483px;}  
}

@media(max-width:900px){
    .swiper-slide .text{
        max-width: 100%;
         font-size:16px;
        -webket-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        }
    .shop__box{width: auto}
    
}
@media(max-width:990px){
    .services__box{margin-bottom: 22px;}
    .abtSec__para{padding:50px 19px}
    .visionSec__mission h4{font-size: 12px}
    .ui-tabs-vertical .ui-tabs-nav{width: 100%}
    .ui-tabs .ui-tabs-nav li{margin: 1px .2em 0 0!important}
    .pvr__img img{width: 100%}
    
}
@media(max-width:991px){
    .contact__heading{font-size: 12px}
    .contact__para{font-size: 11px}
    .contact__list{font-size: 11px}
    .contact__div ul .fa{font-size: 17px}
    
    
}
@media (min-width:764px) and (max-width:886px){
    .header__logo{font-size: 18px}
    .header__logo-img{width: 40px}
    .header__img{top: 35px;
                left: 186px;
                 width: 28px;}
    .navbar-default .navbar-nav>li>a{font-size: 11px}
    
    
    @-moz-document url-prefix() { 
  .header__img {
    position:absolute;
    left: 208px;
    top: 34px
  }
}
   
}

@media(min-width:320px) and (max-width:764px){
    .swiper-slide .text{}
    .swiper-button-next, .swiper-button-prev{background-size:27px 27px}
    .header__para{padding: 41px 50px 30px 20px}
    .links{margin-bottom: 40px}
    .fixFooter{font-size: 11px}
    .fixFooter__logo-img{width: 18px}
.fixFooter__logo{font-size: 7px}
    .main-nav{float:none}
    .abtSec__para{padding: 0}
    .abtSec__wave-banner{display: none}
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{margin-top: 20px}
    .header__logo{font-size: 12px}
    .fixFooter__logo{font-size: 7px}
    .fixFooter__logo-img{width:20px}
    .header__logo-img{width: 32px}
    .header__img{width: 17px;left: 146px;top: 30px;}
    
       @-moz-document url-prefix() { 
  .header__img {
    width: 17px;left: 163px
  }
}
    .visionSec__mission p{font-size: 14px}
    .visionSec__mission h4{font-size: 18px}
    .visionSec__mission{margin-bottom: 10px;}
    
    .ui-tabs-vertical .ui-tabs-panel{width: 100%}
    
    .socialicon__social-icons li a{width: 20px;height: 20px}
    .socialicon__social-icons li a .icons{line-height: calc(20px - 12px);}
}
@media(min-width:765px) and (max-width:1190px){
    .visionSec__mission p{font-size: 10px}
}




















